.Table{
    background-color: rgb(255, 255, 255);
    color: rgb(37, 120, 215);
    border-color: black;
    justify-content: center;
}

.Red{
background-color: rgb(243, 34, 34);
    color: rgb(0, 0, 0);
    border-color: black;

}

.Yellow{
background-color: rgb(247, 247, 164);
 color: rgb(0, 0, 0);
 border-color: black;
}

.Green{
 background-color: rgb(142, 240, 145);
 color: rgb(0, 0, 0);   
 border-color: black;
}