<m-container>
<br><br><br><br>
  <h1  style="text-align:center;"> Errors </h1>
  <table class="Centertable pure-table pure-table-bordered error-table" >
    <thead>
      <tr class="table-Dareen">
        <th>Error Type</th>
        <th>Message</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let error of errors$ | async" [ngClass]="{
        'error-row': error.Type === 'Time Conflict',
        'warning-row': error.Type === 'Warning'
      }">
        <td>{{ error.Type }}</td>
        <td>{{ error.Message }}</td>
      </tr>
    </tbody>
  </table>
</m-container>

