<m-container>
    <br><br>
    <br><br>
    <div class="pure-g">
      <div class="pure-u-1-1">
        <h1>Errors</h1>
        <table class="pure-table pure-table-bordered error-table">

          <thead>
            <tr class="table-Dareen">
              <th>Error Type</th>
              <th> Message </th>
            </tr>
          </thead>
          <tbody>
           
            <tr class="error-row">
              <td>Time Conflict</td>
              <td>Dr. Mohammed has a time conflict: assigned to both Abu Dhabi and Al Ain during Slot 3 (MW 10:55–12:40).</td>
            </tr>
            <tr  class="error-row">
              <td>Time Conflict</td>
              <td>Dr. Dareen has a time conflict: assigned to 2 surgeries in Abu Dhabi during Slot 5 (TR 1:00–2:45).</td>
            </tr>
            <tr class="warning-row">
              <td>Warning</td>
              <td>The surgery is only in Abu Dhabi but not in Al Ain. Please check the schedule</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </m-container>
