.Table{
    background-color:lightgrey;
}

.button-Dareen {
    background-color: lightpink;
    color:black;
}

.table-Dareen {
    background-color: rgb(210, 249, 236);
    color:black;
}

.error-row {
    color:red;
    font-weight: bold;
}

.warning-row {
    color: orange;
    font-weight: bold;
}