<m-container>
  <br><br><br>
  <h1>Save Version Button</h1>
  <button class="pure-button" (click)="saveVersion()">Save</button>

  <br><br>
  <h1>Comparison of Saved Versions</h1><br>
  <label for="saveVersionA">Save - Version A</label><br>
  <select id="saveVersionA" [(ngModel)]="saveVersionA" name="saveVersionA" required>
    <option value="" disabled >Select Version</option>
    <option *ngFor="let version of versions" [value]="version.label">{{version.label}} | {{version.timestamp}}</option>
  </select>

  <br>

  <label for="saveVersionB">Save - Version B</label><br>
  <select id="saveVersionB" [(ngModel)]="saveVersionB" name="saveVersionB" required>
    <option value="" disabled >Select Version</option>
    <option *ngFor="let version of versions" [value]="version.label">{{version.label}} | {{version.timestamp}}</option>
  </select>
 <br><br>

  <button class="pure-button" (click)="compareVersions()">Compare</button>

  <br><br>

  <div *ngIf="compareResults$ | async as results">
    <div *ngIf="compare">
      <h2>Version Action List</h2>
      <table class = "pure-table">
        <thead>
          <tr>
            <th>Session no.</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let change of results.changes; let i = index">
            <td>{{i+1}}</td>
            <td>{{change}}</td>
          </tr>
        </tbody>
      </table>
<br>
      <h2>Comparison</h2>
      <br>
      <h3>🕒 Timing Changes:</h3>
      <ul>
        <li *ngFor="let timechange of results.timeChanges">{{timechange}}</li>
      </ul>
      <br>

      <h3>🥼 Faculty Changes:</h3>
      <ul>
        <li *ngFor="let facultychange of results.facultyChanges">{{facultychange}}</li>
      </ul>
      <br>

      <h3>➕ Added Sessions:</h3>
      <ul>
        <li *ngFor="let added of results.addedSessions">{{added}}</li>
      </ul>
      <br>

      <h3>➖ Removed Sessions:</h3>
      <ul>
        <li *ngFor="let removed of results.removedSessions">{{removed}}</li>
      </ul>
    </div>
  </div>

</m-container>
